/* Start Global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

body,
html {
    font-family: primary-font;
}

@font-face {
    font-family: reg-font;
    src: url("../fonts/JF-Flat-regular.ttf");
}

@font-face {
    font-family: bold-font;
    src: url("../fonts/ge-tv.ttf");
}

@font-face {
    font-family: time-font;
    src: url("../fonts/JF\ Flat\ medium.ttf");
}

@font-face {
    font-family: JF-font;
    src: url("../fonts/JF-Flat-regular.ttf");
}

@font-face {
    font-family: Titil-font;
    src: url("../fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: Tw-font;
    src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title-sec {
    text-align: center;
    margin-bottom: 50px;
}

.title-sec h3 {
    color: #222222;
    font-size: 29px;
    font-family: time-font;
}

.title-sec h5 {
    color: #c4c4c4;
    font-size: 14px;
    font-family: JF-font;
}

.title-sec h5 span {
    color: #ed786c;
}

.title-sec img {
    width: 68px;
    height: 35px;
}


/* End GLobal */


/* Start Header */

header {
    background-size: cover !important;
    /* background-position: center; */
    height: 696px;
    position: relative;
}

header .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 75px 0;
    text-align: center;
    color: #fff;
}

header .overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-bottom: 65px;
}

header .overlay ul li i {
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}

header .datetime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

header .datetime>div i {
    color: #ff6690;
    font-size: 20px;
    margin-left: 11px;
}

header .datetime>div span {
    color: #fff;
    font-size: 20px;
    font-family: JF-font;
}

header h1 {
    font-size: 80px;
    color: #fff;
    font-family: bold-font;
}

header p {
    font-size: 14px;
    padding-top: 12px;
}

header .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 35px 0 68px 0;
}

header .datetime>div {
    display: flex;
    justify-content: center;
    gap: 11px;
    align-items: center;
}

header .timeline .t {
    background-color: #e74c3c;
    width: 115px;
    height: 105px;
    padding: 30px 25px;
}

header .timeline .t:last-child {
    background-color: #2c3e50;
}

header .timeline .t span:nth-child(1) {
    font-size: 30px;
    line-height: 0;
    font-weight: bold;
}

header .timeline .t span:nth-child(2) {
    font-size: 22px;
    line-height: 1.3;
    font-weight: bold;
    font-family: time-font;
}

header .overlay .container .btn {
    background-color: #fff;
    padding: 13px 45px;
    font-weight: bold;
    border-radius: 0.2rem;
}

@media (min-width:320px) and (max-width:767px) {
    header .overlay .container {
        width: 100%;
    }
    header h1 {
        font-size: 38px;
        /* line-height: 1.2; */
    }
    header p {
        font-size: 10px;
    }
    header .datetime {
        flex-direction: column;
    }
    header .timeline .t {
        width: 60px;
        height: 80px;
        padding: 25px 11px;
    }
    header .timeline .t span:nth-child(2) {
        font-size: 12px;
        line-height: 1.3;
        font-weight: bold;
        font-family: time-font;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    header h1 {
        font-size: 60px;
    }
}


/* End Header */

nav {
    background-color: #2c3e50;
    height: 100px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 25px 0;
}

.navbar-nav .brand h1 {
    color: #fff;
    font-size: 26px;
    font-family: Titil-font;
}

.navbar-nav a img {
    width: 180px;
    height: 30px;
}

.navbar-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
}

.navbar-nav ul li a {
    color: #fff;
    transition: all 0.2s linear;
    font-size: 12px;
    font-family: reg-font;
}

.navbar-nav ul li:hover a {
    background-color: #fff;
    color: #000;
    padding: 46px 20px;
    border-radius: 3px;
}

.navbar-nav a.btn-nav {
    background-color: #e74c3c;
    /* background-color: #fff; */
    padding: 11px 40px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    font-family: reg-font;
}

@media (min-width: 1200px) and (max-width:1286px) {
    nav .container {
        width: 100%;
    }
}

@media (min-width:320px) and (max-width:1199px) {
    .navbar-nav {
        gap: 20px;
    }
    .navbar-nav ul {
        display: none;
    }
    .navbar-nav a.btn-nav {
        padding: 5px 6px;
    }
}


/* End Navbar */


/* Start Speaker section */

.speaker-sec {
    padding: 75px 0;
}

.speaker-sec .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .speaker-sec .container .row {
        flex-direction: column;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .speaker-sec .container .row .content p {
        font-size: 11px;
    }
}

.speaker-sec .row .content img {
    width: 200px;
    height: 200px;
}

.speaker-sec .row .content {
    text-align: center;
}

.speaker-sec .row .content h3 {
    color: #e74c3c;
}

.speaker-sec .row .content h5 {
    color: #bfbfbf;
    /* font-size: 15px; */
}

.speaker-sec .row .content p {
    width: 90%;
    margin: auto;
    padding-top: 25px;
}

.speaker-sec .row .content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 0 70px 0;
}

.speaker-sec .row .content li {
    padding: 10px 12px;
}

.speaker-sec .row .content li a i {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    color: #e74c3c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.speaker-sec .btn-more {
    text-align: center;
}

.speaker-sec .btn-more .btn {
    color: #fff;
    background-color: #2c3e50;
    padding: 6px 60px;
    border-radius: 5px;
}


/* @media (min-width:992) and (max-width:1199) {
    .speaker-sec .row .content p {
        font-size: 11px;
    }
} */


/* End Speaker section */


/* Start table section */

.table-sec {
    padding: 55px 0 80px 0;
    background-color: #fafafa;
}

.table-sec .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #dedede;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    position: relative;
}

.table-sec .boxes .box {
    text-align: center;
    width: 20%;
    background-color: #2c3e50;
    color: #fff;
    padding: 17px 0px;
    margin-top: -1px;
    gap: 2px;
    border-left: 2px solid #e9e9e9;
}

.table-sec .boxes .box:first-child,
.table-sec .boxes .box:nth-child(5) {
    border: none;
}

.table-sec .boxes .box:first-child {
    background-color: #f3f3f3;
    color: #e74c3c;
    position: relative;
}

.table-sec .boxes .box:first-child::after {
    content: "";
    border-style: solid;
    border-width: 20px 18px 20px 18px;
    border-color: #f3f3f3 transparent transparent transparent;
    position: absolute;
    right: 43%;
    top: 62px;
}

@media (max-width: 767px) {
    .table-sec .container .boxes {
        width: 100%;
    }
    .table-sec .container .boxes .row {
        width: 100%;
    }
    .table-sec .container .boxes .box {
        font-size: 10px;
    }
    .table-sec .container .boxes .row .content {
        gap: 12px;
        padding: 20px 20px 0 20px;
    }
    .table-sec .container .boxes .row .content .details h3:nth-child(2) {
        font-size: 10px;
    }
    .table-sec .container .boxes .row .content .details p {
        font-size: 8px;
    }
    .table-sec .boxes .row .content .details h3:last-child {
        font-size: 14px;
    }
    .table-sec .boxes .box:first-child::after {
        top: 50px;
        right: 40%;
        border-width: 20px 14px 20px 14px;
    }
    .table-sec .boxes .row .content img {
        height: 40px;
    }
    .table-sec .boxes .row .content .details img {
        height: 20px;
    }
}

.table-sec .title-sec img {
    width: 49px;
    height: 49px;
}

.table-sec .boxes .row {
    background-color: #fff;
    padding-bottom: 60px;
}

.table-sec .boxes .row .content {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 45px 45px 0 45px;
}

.table-sec .boxes .row .content .details>div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.table-sec .boxes .row .content .details>div span {
    font-size: 17px;
    color: #ed786c;
}

.table-sec .boxes .row .content .details h3:nth-child(2) {
    font-size: 16px;
}

.table-sec .boxes .row .content .details p {
    font-size: 15px;
    color: #9f9f9f;
}

.table-sec .boxes .row .content .details h3:last-child {
    font-size: 16px;
    color: #e74c3c;
}

.table-sec .boxes .row .vertical {
    border-left: 1px solid #dedede;
    height: 45px;
    position: absolute;
    left: 92%;
    margin-left: -8px;
    top: 71px;
    /* border-left: 1px solid #dedede;
    height: 425px;
    position: absolute;
    left: 91.1%;
    padding-left: -19px;
    top: 89px;
    display: none; */
}

@media only screen and (min-width: 1400px) {
    .table-sec .boxes .row .vertical {
        display: block;
    }
}

@media (max-width:1500px) {
    .table-sec .boxes .row .vertical {
        display: none;
    }
    .table-sec .boxes .row .vertica {
        display: none;
    }
    .table-sec .boxes .row .vertic {
        display: none;
    }
}

@media (min-width: 320px) and (max-width:768px) {}


/* .table-sec .boxes .row .vertical>div {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 25px;
    background: #555;
} */

.table-sec .boxes .vertica {
    border-left: 1px solid #dedede;
    height: 72px;
    position: absolute;
    left: 92%;
    margin-left: -8px;
    top: 190px;
}

.table-sec .boxes .vertic {
    border-left: 1px solid #dedede;
    height: 89px;
    position: absolute;
    left: 92%;
    margin-left: -8px;
    top: 335px;
}


/* End table section */


/* Start Counter section */

.counter-sec {
    background: url('../image/st-back.png') no-repeat center center;
    background-size: cover;
    height: 331px;
    position: relative;
}

.counter-sec .overlay {
    /* background-color: rgba(0, 0, 20, 0.7); */
    background-color: rgba(31, 43, 57, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 70px 0;
}

.counter-sec .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 193px;
}

.counter-sec .boxes .box {
    text-align: center;
    color: #fff;
}

@media (max-width:991px) {
    .counter-sec {
        height: 130vh;
    }
    .counter-sec .boxes {
        flex-direction: column;
        gap: 30px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .counter-sec {
        height: 73vh;
    }
    /* .counter-sec .overlay {
        height: 120vh;
    } */
    .counter-sec .boxes {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .counter-sec .boxes .box {
        width: 48%;
    }
}

.counter-sec .boxes .box h1 {
    font-size: 70px;
    font-family: Tw-font;
    color: #b94840;
    line-height: 1;
    padding: 35px 0 0 0;
}

.counter-sec .boxes .box h5 {
    font-weight: 100;
    font-family: JF-font;
    font-size: 18px;
}


/* End Counter section */


/* Start Photo section */

.photo-sec {
    padding: 70px 0;
}

.photo-sec .title-sec img {
    width: 61px;
    height: 47px;
}

.photo-sec .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.photo-sec .boxes .box {
    height: 200px;
    background-size: cover;
    position: relative;
    width: 281px;
    position: relative;
    border-radius: 3px;
}

.photo-sec .boxes .box:hover .overlay {
    background-color: rgba(231, 76, 60, 0.7);
    opacity: 0.7;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 3px;
}

.photo-sec .boxes .box .overlay img {
    display: none;
}

.photo-sec .boxes .box:hover .overlay {
    /* background-color: rgba(231, 76, 60, 0.7); */
    background-color: rgb(244, 42, 24);
    /* opacity: 0.7; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.photo-sec .boxes .box:hover .overlay img {
    /* text-align: center; */
    display: block;
    padding: 75px 120px;
}


/* End Photo section */


/* Start Footer */

footer .boxes {
    display: flex;
    flex-wrap: wrap;
}

footer .boxes .box {
    color: #fff;
    background-color: #2c3e50;
    width: 50%;
    height: 500px;
    padding: 61px 335px 61px 205px;
}

@media (min-width: 992px) and (max-width:1400px) {
    footer .boxes .box {
        padding: 61px 150px 61px 140px;
    }
}

footer .boxes .img {
    width: 50%;
    background: url('../image/Layer\ 1.png') no-repeat center center;
    background-size: cover;
    height: 500px;
}

@media (min-width: 768px) and (max-width: 991px) {
    footer .boxes .box {
        /* padding: 61px 150px 61px 140px; */
        width: 100%;
    }
    footer .boxes .img {
        width: 100%;
        background-position: bottom;
    }
}

@media (min-width:320px) and (max-width:767px) {
    footer .boxes .box {
        padding: 50px;
        width: 100%;
    }
    footer .boxes .img {
        width: 100%;
        height: 300px;
        background-position: right;
    }
}

footer .boxes .box h1 {
    font-size: 40px;
    font-weight: 100;
    font-family: time-font;
}

footer .boxes .box p:nth-child(2) {
    font-size: 16pt;
    line-height: 1;
    font-weight: 200;
    color: #e74c3c;
    font-family: JF-font;
}

footer .boxes .box p:nth-child(3) {
    font-size: 11px;
    line-height: 2;
    padding: 20px 0 55px 0;
    color: #babec2;
}

footer .boxes .box ul li {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

footer .boxes .box ul li:last-child {
    padding-bottom: 0;
}


/* footer .boxes .box ul li img {
    margin-left: 7px;
} */

footer .boxes .box ul li span {
    font-size: 10px;
    font-family: time-font;
}


/* footer .boxes .box .footer {
    width: 1661px;
} */


/* End Footer */


/* Start */

.footer {
    background-color: #333333;
    padding: 28px 0;
    text-align: center;
    color: #fff;
}

.footer p {
    font-size: 12px;
}


/* End  */